<div class="title animating fade-in-down">
    <div>
        <span class="h1">开发实力源自顶级创作资源储备</span>
    </div>
    <div>
        <span class="h2">顶级编剧团队深度合作</span>
    </div>
    <div>
        <span class="h2">专业制片团队甄选优质项目</span>
    </div>
</div>
<div class="an">
    <img src="/assets/image/p2_hole.png" class="hole ho">
    <div class="cat">
        <img src="/assets/image/p3_cat.png">
    </div>
    <img src="/assets/image/p3_ball.png" class="ball">
</div>
<div class="clickArea" (click)="bindViewTap()"></div>