<div class="cGroup">
    <img src="/assets/image/p1_cat.png" class="cImage" alt="">
    <div class="titles">
        <span class="b">N</span><span class="f">ew</span> <span class="b">C</span><span class="f">lues</span> <span
            class="b">F</span><span class="f">ilm</span>
    </div>
</div>
<div class="cpGroup">
    <img src="/assets/image/p1_cat.png" class="cImage" alt="">
    <div class="titles">
        <span class="b">N</span><span class="f">ew</span> <span class="b">C</span><span class="f">lues</span> <span
            class="b">F</span><span class="f">ilm</span>
    </div>
    <img src="/assets/image/p1_shadow.png" class="sImage">
</div>
<div class="clickArea" (click)="bindViewTap()"></div>