@import "../remSize";

.box {
  position: absolute !important;
  bottom: 0;
  height: remSize(973);
  transition: all 1.2s !important;
  //animation: bm 2s;
  //animation-fill-mode: both;
}

@keyframes bm {
  from {
    bottom: remSize(-973);
  }
  to {
    bottom: 0;
  }
}

.subBox {
  font-size: remSize(30);
  height: remSize(361);
  width: remSize(586);
  margin-bottom: remSize(-37);
  background-image: url('../../assets/image/p4_box.png');
  background-size: remSize(586) remSize(361);
  box-sizing: border-box;
  padding-left: remSize(116);
  padding-bottom: remSize(37);
  text-align: center;
  line-height: remSize(60);
  position: relative;
  animation-fill-mode: both;
  .text {
    opacity: 0;
    * {
      text-align: center;
      margin: 0;
    }
    h1 {
      font-size: remSize(40);
      font-weight: bolder;
    }
    p {
      margin-top: remSize(10);
      font-size: remSize(30);
    }
  }
}

.left {
  position: absolute !important;
  left: 0;
  top: 0;
  width: remSize(124);
  height: remSize(973);
}

.a1 {
  animation: a1 1s;
  left: remSize(115/3);
  top: remSize(-37/3);
}

.a2 {
  animation: a2 1s;
  left: remSize(115*2/3);
  top: remSize(-37*2/3);
}

.a3 {
  animation: a3 1s;
  left: remSize(115);
  top: remSize(-37);
}

@keyframes a1 {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: remSize(115/3);
    top: remSize(-37/3);
  }
}

@keyframes a2 {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: remSize(115*2/3);
    top: remSize(-37*2/3);
  }
}

@keyframes a3 {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: remSize(115);
    top: remSize(-37);
  }
}

.l2 {
  padding-top: 2rem;
}

.l1 {
  padding-top: 2rem;
}

.inBall {
  width: remSize(72);
  height: remSize(72);
  position: absolute;
  left: remSize(300);
  //top: remSize(720);
  top: 8rem;
  transform: translate(remSize(560), remSize(-560));
  transition: transform 1.2s;
}

.inBallAnimate {
  transform: translate(0, 0);
}

.outBallAnimate {
  transform: translate(remSize(400), remSize(-1500));
}

.catStay {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: remSize(299);
  height: remSize(311);
  transition: opacity 0.1s;
}

.catMove1, .catMove2, .catMove3, .catMove4 {
  position: absolute;
  width: remSize(299);
  opacity: 0;
  transition: opacity 0.5s;
}

.catMove1 {
  right: 0.8rem;
  bottom: 0;
}

.catMove2 {
  right: 1.2rem;
  bottom: 7.5rem;
}

.catMove3 {
  right: 1rem;
  bottom: 14.3rem;
}

.catMove4 {
  right: 1.3rem;
  bottom: 20.9rem;
}

.boxMoveOut {
  transition: all 1.2s !important;
  transform: translate(0, remSize(500));
}

.title {
  width: remSize(215);
  height: remSize(315);
  box-sizing: border-box;
  position: absolute;
  top:1.5rem;
  left:0;
  opacity: 0;
}