<div class="dotBG">
</div>
<div class="box">
    <div class="subBox l2">
        <div class="text">
            <h1>差异化开发</h1>
            <p>高度类型化开发策略</p>
        </div>
    </div>
    <img src="/assets/image/np1/bb.png" class="inBall">
    <div class="subBox l2">
        <div class="text">
            <h1>首席编剧合作</h1>
            <p>原创+改编影视版权资源</p>
        </div>
    </div>
    <div class="subBox l1">
        <div class="text">
            <h1>精细化经营</h1>
            <p>严格制片作业把控</p>
        </div>
    </div>
    <img src="/assets/image/p4_pl.png" class="left">
    <img src="/assets/image/p4_c1.png" class="catStay">
    <img src="/assets/image/p4_c2.png" class="catMove1">
    <img src="/assets/image/p4_c0.png" class="catMove2">
    <img src="/assets/image/p4_c3.png" class="catMove3">
    <img src="/assets/image/p4_c4.png" class="catMove4">
</div>
<img src="/assets/image/p4_title.png" class="title">
<div class="clickArea" (click)="bindViewTap()" style="display: none"></div>