<div class="hole">
    <img src="/assets/image/np1/hole_F.png" class="hf">
</div>
<div class="logoGroup">
    <div class="logo">
        <div class="l1">
            <img src="/assets/image/np1/logo_shadow.png" class="logoShadow">
            <img src="/assets/image/np1/logo_cat.png" class="lc" id="tc">
            <img src="/assets/image/np1/logo_bk.png" class="lb">
        </div>
    </div>
    <div class="logo ry">
        <div class="l1">
            <img src="/assets/image/np1/logo_cat.png" class="lc">
            <img src="/assets/image/np1/logo_bk.png" class="lb">
            <img src="/assets/image/np1/p1_shadow.png" class="sImage">
        </div>
    </div>
</div>
<div class="text1">
    成立于2015年，新线索电影深耕复合类型商业电影的新兴领域，自主投资开发题材新颖、制作上乘的优质内容。
</div>
<div class="text1">
    截止2017年夏，已出品项目包括《滚蛋吧！肿瘤君》、《我是证人》、《捉迷藏》、《逆时营救》等。积极探索国内电影稀缺类型的开发策略受到业内瞩目。
</div>
<div class="text2">
    <p class="h1">| 核心业务 |</p>
    <p class="h2">主导开发与投资电影项目</p>
    <p class="h1">| 核心业务 |</p>
    <p class="h2">主导开发与投资电影项目</p>
    <p class="h1">| 核心业务 |</p>
    <p class="h2">主导开发与投资电影项目</p>
</div>

<div class="hole">
    <img src="/assets/image/np1/hole_B.png" class="he">
</div>
<div class="ball">
    <div class="l"></div>
    <img src="/assets/image/np1/bb.png" class="b">
    <!--<img src="/assets/image/np1/bbline.png" class="l">-->
</div>
<img src="/assets/image/np1/logo_cat_dead.png" style="display: none">